* {
	margin:0;
	padding:0;
}

body { 
	margin: 0; 
	background-color: #FFFAFA
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

canvas { 
	width: 100%; height: 100% 
}

i {
	transition: color 0.4s ease;
}

i:hover{
	color: #8B80F9;
}

h1 { 
	font-size: 56px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 10px 0 10px 10px;
	color: #130f30;
	margin: 0 10px;
}
h2 {
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
}
h3 {
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding-left: 34px;
	margin-top: -10px;
}
a {
	text-decoration: none;
	color: inherit;
	font-family: 'Oswald', sans-serif;
}
span {
	font-size: 24px;
}
li {
	font-size: 32px;
	transition: all 0.4s ease;
}
li:hover{
	color: #8B80F9;
	margin-left: 6%;
}

.icon {
	font-size: 120px;
	margin: 20px;
}
.card-image img{
	margin-top: 1.75em;
}

#lolist img{
	margin-top: 1.7em;
}
.card {
	margin: 10px;
}
#spirit-dog {
	margin-left: 8.333%;
}
#icon-row {
	margin: 0 auto;
	margin-top: 10%;
	display: block;
}

#heading {
	color: #FFFAFA;
}
#nav {
	top: 170px;
	margin-left: 5%;
}
#workView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}
#contactView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}
#skillsView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}
.fullscreen {
	min-height: 100%;
  min-width: 1024px;
}
.graph {
	display: block;
	margin: 0 auto;
	margin-top: -100px;
}
#up-arrow {
	position: fixed;
	font-size: 44px;
	left: 95%;
	top: 20px;
	-webkit-backface-visibility:hidden; 
	-webkit-transform: translateZ(0);
}

