@media (max-width: 600px) {
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	}

  h2 {
    font-size: 56px;
  }

  #spirit-dog {
  	margin-left: 0;
  }

  #icon-row i {
  	display: block;
  }

  li {
  	font-size: 32px;
  }
  #about-me-button {
  	display: none;
  }
  h3 {
  	margin: -35px 0 0 5px;
  }
}