* {
	margin:0;
	padding:0;
}

html {
	overflow-x: hidden;
}

body { 
	margin: 0; 
	background-color: black
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

canvas { 
	width: 100%; 
	height: 100%; 
}

i {
	transition: color 0.4s ease;
}

i:hover{
	color: #7082B0;
}

h1 { 
	font-size: 56px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 10px 0 10px 10px;
	color: #130f30;
	margin: 0 10px;
}

h2 {
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16;
	margin: -30px 0 0 5px;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: 'Oswald', sans-serif;
}

span {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

li {
	font-size: 52px;
	transition: all 0.4s ease;
}

li:hover{
	color: #FFDD97;
	margin-left: 6%;
}

.icon {
	font-size: 120px;
	margin: 20px;
}

.card-image img{
	margin-top: 1.75em;
}

#lolist img{
	margin-top: 1.7em;
}

#interests li {
	font-family: 'Oswald', sans-serif; 
	font-size: 24px;
	padding-left: 10px;
}

.card {
	margin: 10px;
}

.card-title {
	font-family: 'Oswald', sans-serif; 
	font-size: 24px;
	font-weight: 700;
}

#spirit-dog {
	margin-left: 8.333%;
}
#icon-row {
	margin: 0 auto;
	margin-top: 10%;
	display: block;
}

#heading {
	color: #FFFAFA;
}

#nav {
	top: 170px;
	margin-left: 5%;
}

#workView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}

#contactView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}

#skillsView {
	background-color: #FFFAFA;
	border-bottom: 4px solid #130f30;
}

.fullscreen {
	min-height: 100vh;
  min-width: 100vw;
}

.graph {
	display: block;
	margin: 0 auto;
	margin-top: -100px;
}

#up-arrow {
	position: fixed;
	font-size: 44px;
	right: 2.8vw;
	top: 20px;
	-webkit-backface-visibility:hidden; 
	-webkit-transform: translateZ(0);
}

#about-me-button {
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 120px 120px 0;
	border-color: transparent #fffafa transparent transparent;
	text-align: right;
	cursor: pointer;
	z-index: 2;
}

#about-me-text {
  position: absolute;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
  color: black;
  margin-top: -10px;
  padding-left: 55px;
}

#about-me-reveal {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	width: 30%;
	right:0vh;
	display:none;
	position: absolute;
	/*border: 1px solid #5F9EA0;*/
	color: #FFFAFA;
}
#about-me-reveal p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 16;
	margin-left: 10px;
}
#x-out-button {
	padding-left: 55px;
	position: absolute;
	top: -10px;
}
#info {
	margin-top: 20px;
  padding-left: 22px;
  font-size: 32px;
}

#subhead {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 16;
	margin: -30px 0 0 5px;
}
#about-me {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	padding-left: 41px;
	padding-top:7px;
	font-size: 30px;
	line-height: 101%;
	transition: all 0.4s ease;
}
#about-me:hover{
	color: #7082B0;
}

#drop-me {
	display: block;
	margin: 0 auto;
	margin-left: -30px;
	text-align: center;
	margin-top: 20px;
}
#drop-me a {
	border: 1px solid white;
	padding: 8px;
	padding-right: 12px;

}
